*{
    box-sizing: border-box;
}
.color-1 {
    color: #abc7e5;
}

.color-bg-1 {
    background-color: #abc7e5;
}

.color-2 {
    color: #82abd8;
}

.color-bg-2 {
    background-color: #82abd8;
}

.color-3 {
    color: #658ecc;
}

.color-bg-3 {
    background-color: #658ecc;
}

.color-4 {
    color: #5175bf;
}

.color-bg-4 {
    background-color: #5175bf;
}

.color-5 {
    color: #4764ae;
}

.color-bg-5 {
    background-color: #4764ae;
}

.color-6 {
    color: #3d518c;
}

.color-bg-6 {
    background-color: #3d518c;
}

.navbar a:hover{
    color: #4764ae;
}
.container{
    border: solid 1px black;
}
.row>*{
    border: solid 1px blue;
}