
.color-1 {
    color: #ffffff;
}

.color-bg-1 {
    background-color: #ffffff;
}

.color-2 {
    color: #cec1b9;
}

.color-bg-2 {
    background-color: #cec1b9;
}

.color-3 {
    color: #825430;
}

.color-bg-3 {
    background-color: #825430;
}

.color-4 {
    color: #1a181b;
}

.color-bg-4 {
    background-color: #1a181b;
}
.row>*{
    border: solid 1px blue;
}
.navbar #nav-active{
    padding-left: 7px;
    
}
.navbar #nav-active:hover{
    border-radius: 5px;
    color: #cec1b9;
    background-color: #825430;
}
.container-fluid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(20%, 1fr));
    gap: 5px;
}
ul{
    list-style-type: "- ";
}
.img{
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centrarZ{
    padding-top: 30px;
    padding-bottom: 30px;
}